.btn {
    display: block;

    background: $pink;
    color: $very-pal-blue;

    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;

    border: none;
    font-weight: 700;
}