.metric {
    padding-bottom: 6.25rem;

    &__icon {
        width: 1.875rem;
        height: auto;
        transform: translateX(-100%);

        margin-left: 6.875rem;
    }

    &__value,
    &__label {
        text-align: center;
    }

    &__value {
        margin-top: 0;

        line-height: 1;

        font-size: 3rem;
        font-family: $open-sans-font;
        font-weight: 700;
        color: $very-dark-cyan;
    }

    &__label {
        font-family: $open-sans-font;
        font-weight: 400;
        font-size: 0.9375rem;
        color: $smoke;
    }
}