@media(min-width:768px) {
    .metric {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__value {
            font-size: 4.5625rem;
        }

        &__label {
            font-size: 19px;
        }

        &__icon {
            width: 3.475rem;
        }
    }
}

@media(max-width:769px) {
    .metric {
        &__icon {
            width: 1.875rem;
            margin-left: 6.875rem;
            transform: translateX(-100%);
        }

        &__value {
            font-size: 3rem;
        }
    }
}

.metric {
    &__container {
        padding-bottom: 6.25rem;
    }

    &__icon {
        height: auto;
    }

    &__value,
    &__label {
        text-align: center;
    }

    &__value {
        margin-top: 0;

        line-height: 1;
        font-family: $open-sans-font;
        font-weight: 700;
        color: $very-dark-cyan;
    }

    &__label {
        font-family: $open-sans-font;
        font-weight: 400;
        font-size: 0.9375rem;
        color: $smoke;
    }
}