// Primary
$pink: hsl(322, 100%, 66%);
$ligh-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63);

// Neutral
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pal-blue: hsl(207, 100%, 98%);

$white:#fff;
$smoke:hsl(208, 6%, 60%);

// Fonts
$open-sans-font:'Open Sans',sans-serif;
$poppins-font:'Poppins', sans-serif;
